<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p> <%= @completed %></p>
<br>
<%= link_to "Back to list", tasks_path %>
<br>
<%= link_to 'Edit this task', edit_path %>
<br>
<%= link_to "Delete this task",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
